fastapi==0.115.6
uvicorn==0.34.0
pydantic==2.10.6
python-dotenv==1.0.1
tortoise-orm==0.24.0
pusher==3.3.3
python-jose[cryptography]
asyncpg==0.30.0
httpx==0.28.1
starlette==0.41.3

# Blockchain essentials
titanoboa @ git+https://github.com/charles-cooper/titanoboa.git@f89599e75f64bca502b31c82ea1483972c02799f
eth-account==0.13.4
eth-typing==5.1.0
eth-utils==5.2.0
vyper==0.4.0

# Dependencies needed by titanoboa
eth-bloom==3.1.0
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.6.1
eth-rlp==2.1.0
eth-stdlib==0.2.8
eth_abi==5.2.0
